# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: wrighting-example-service-infra

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: python3.6
  region: eu-west-2
  stage: ${opt:stage, 'dev'}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - ec2:CreateNetworkInterface
        - ec2:DescribeNetworkInterfaces
        - ec2:DeleteNetworkInterface
      Resource: "*"
  environment:
    DB_USER: ${file(../config/config.${self:provider.stage}.json):db_user}
    DATABASE: ${file(../config/config.${self:provider.stage}.json):database}
    DB_PASSWORD: ${file(../config/config.${self:provider.stage}.json):db_password}
    DB_HOST:
            Fn::GetAtt: [ ServerlessRDSCluster, Endpoint.Address ]
    AUTH_PROFILE_URL: ${file(../config/config.${self:provider.stage}.json):auth_profile}
    CREATE_SCHEMA_IF_MISSING: ${file(../config/config.${self:provider.stage}.json):create_schema_if_missing}
  vpc:
    securityGroupIds:
      - "Fn::GetAtt": ServerlessSecurityGroup.GroupId
    subnetIds:
      - Ref: PublicSubnetA
      - Ref: PublicSubnetB

# you can overwrite defaults here
#  stage: dev
#  region: us-east-1

plugins:
      - serverless-python-requirements

custom:
      pythonRequirements:
              dockerizePip: true

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
#package:
#  include:
#    - include-me.py
#    - include-me-dir/**
#  exclude:
#    - exclude-me.py
#    - exclude-me-dir/**
package:
    exclude:
        - requirements.txt
        - serverless.yml
        - node_modules/**
        - package.json
        - package-lock.json
        - config/**
    include:
        - example/handler.py
        - ../../swagger/python-flask/**/**
        - ../../common/example_server/**/**
        - ../../database/schema.psql
        - auth/**
        - ../util/**

functions:
  authFunc:
    handler: auth/handler.auth
    vpc:
        securityGroupIds:
          - "Fn::GetAtt": ServerlessAuthSecurityGroup.GroupId
        subnetIds:
          - Ref: ServerlessSubnetA
          - Ref: ServerlessSubnetB

resources:
  Resources:
    ApiGatewayRestApi:
      Type: "AWS::ApiGateway::RestApi"
      Properties:
        Name: ${self:provider.stage}-${self:service}
        BinaryMediaTypes:
          - "application/json"
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'
    ServerlessVPC:
      Type: AWS::EC2::VPC
      Properties:
        CidrBlock: "10.0.0.0/16"
    ServerlessSubnetA:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::Subnet
      Properties:
        VpcId:
          Ref: ServerlessVPC
        AvailabilityZone: ${self:provider.region}a
        CidrBlock: "10.0.1.0/24"
    ServerlessSubnetB:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::Subnet
      Properties:
        VpcId:
          Ref: ServerlessVPC
        AvailabilityZone: ${self:provider.region}b
        CidrBlock: "10.0.2.0/24"
    PublicSubnetA:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::Subnet
      Properties:
        VpcId:
          Ref: ServerlessVPC
        AvailabilityZone: ${self:provider.region}a
        CidrBlock: "10.0.3.0/24"
        MapPublicIpOnLaunch: True
    PublicSubnetB:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::Subnet
      Properties:
        VpcId:
          Ref: ServerlessVPC
        AvailabilityZone: ${self:provider.region}b
        CidrBlock: "10.0.4.0/24"
    InternetGateway:
      Type: "AWS::EC2::InternetGateway"
    NatEIPA:
      Type: AWS::EC2::EIP
      Properties:
        Domain: vpc
    NatGatewayA:
      Type: AWS::EC2::NatGateway
      DependsOn: VPCGateway
      Properties:
        AllocationId:
          Fn::GetAtt:
          - NatEIPA
          - AllocationId
        SubnetId:
          Ref: PublicSubnetA
    NatEIPB:
      Type: AWS::EC2::EIP
      Properties:
        Domain: vpc
    NatGatewayB:
      Type: AWS::EC2::NatGateway
      DependsOn: VPCGateway
      Properties:
        AllocationId:
          Fn::GetAtt:
          - NatEIPB
          - AllocationId
        SubnetId:
          Ref: PublicSubnetB
    ServerlessSubnetARouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: ServerlessVPC
    ServerlessSubnetARoute:
      Type: AWS::EC2::Route
      DependsOn: VPCGateway
      Properties:
        RouteTableId:
          Ref: ServerlessSubnetARouteTable
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId:
          Ref: NatGatewayA
    SubnetRouteTableServerlessSubnetA:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: ServerlessSubnetA
        RouteTableId:
          Ref: ServerlessSubnetARouteTable
    ServerlessSubnetBRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: ServerlessVPC
    ServerlessSubnetBRoute:
      Type: AWS::EC2::Route
      DependsOn: VPCGateway
      Properties:
        RouteTableId:
          Ref: ServerlessSubnetBRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId:
          Ref: NatGatewayB
    SubnetRouteTableServerlessSubnetB:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: ServerlessSubnetB
        RouteTableId:
          Ref: ServerlessSubnetBRouteTable
    PublicRouteTableA:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: ServerlessVPC
    PublicRouteA:
      Type: AWS::EC2::Route
      DependsOn: VPCGateway
      Properties:
        RouteTableId:
          Ref: PublicRouteTableA
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId:
          Ref: InternetGateway
    SubnetRouteTablePublicA:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnetA
        RouteTableId:
          Ref: PublicRouteTableA
    PublicRouteTableB:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: ServerlessVPC
    PublicRouteB:
      Type: AWS::EC2::Route
      DependsOn: VPCGateway
      Properties:
        RouteTableId:
          Ref: PublicRouteTableB
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId:
          Ref: InternetGateway
    SubnetRouteTablePublicB:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnetB
        RouteTableId:
          Ref: PublicRouteTableB
    VPCGateway:
      Type: AWS::EC2::VPCGatewayAttachment
      Properties:
        InternetGatewayId:
          Ref: InternetGateway
        VpcId:
          Ref: ServerlessVPC
    ServerlessAuthSecurityGroup:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: SecurityGroup for Serverless Functions
        VpcId:
          Ref: ServerlessVPC
    ServerlessSecurityGroup:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: SecurityGroup for Serverless Functions
        VpcId:
          Ref: ServerlessVPC
    ServerlessStorageSecurityGroup:
      DependsOn: ServerlessVPC
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: Ingress for Memcached Cluster & RDS Instance
        VpcId:
          Ref: ServerlessVPC
        SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '5432'
          ToPort: '5432'
          SourceSecurityGroupId:
            Ref: ServerlessSecurityGroup
    ServerlessRDSSubnetGroup:
      Type: AWS::RDS::DBSubnetGroup
      Properties:
        DBSubnetGroupDescription: "RDS Subnet Group"
        SubnetIds:
        - Ref: ServerlessSubnetA
        - Ref: ServerlessSubnetB
    ServerlessRDSCluster:
      DependsOn: ServerlessStorageSecurityGroup
      Type: AWS::RDS::DBInstance
      Properties:
        Engine: Postgres
        DBName: ${file(../config/config.${self:provider.stage}.json):database}
        MasterUsername: ${file(../config/config.${self:provider.stage}.json):db_user}
        MasterUserPassword: ${file(../config/config.${self:provider.stage}.json):db_password}
        DBInstanceClass: db.t2.micro
        AllocatedStorage: 10
        VPCSecurityGroups:
        - "Fn::GetAtt": ServerlessStorageSecurityGroup.GroupId
        DBSubnetGroupName:
          Ref: ServerlessRDSSubnetGroup
  Outputs:
      ServerlessVPCOutput:
        Value:
          Ref: ServerlessVPC
        Export:
          Name: ${self:service}:ServerlessVPC-${self:provider.stage}
      PublicSubnetAOutput:
        Value:
          Ref: PublicSubnetA
        Export:
          Name: ${self:service}:PublicSubnetA-${self:provider.stage}
      PublicSubnetBOutput:
        Value:
          Ref: PublicSubnetB
        Export:
          Name: ${self:service}:PublicSubnetB-${self:provider.stage}
      ServerlessSubnetAOutput:
        Value:
          Ref: ServerlessSubnetA
        Export:
          Name: ${self:service}:ServerlessSubnetA-${self:provider.stage}
      ServerlessSubnetBOutput:
        Value:
          Ref: ServerlessSubnetB
        Export:
          Name: ${self:service}:ServerlessSubnetB-${self:provider.stage}
      ServerlessSecurityGroupOutput:
        Value:
          Ref: ServerlessSecurityGroup
        Export:
          Name: ${self:service}:ServerlessSecurityGroup-${self:provider.stage}
      DbHostOutput:
        Value:
          Fn::GetAtt: [ ServerlessRDSCluster, Endpoint.Address ]
        Export:
          Name: ${self:service}:DbHost-${self:provider.stage}
      ApiGatewayRestApi:
        Value:
          Ref: 'ApiGatewayRestApi'
        Export:
          Name: ${self:service}:ApiGatewayRestApi-${self:provider.stage}
      ApiGatewayRestApiRootResource:
        Value:
          Fn::GetAtt: [ ApiGatewayRestApi, RootResourceId ]
        Export:
          Name: ${self:service}:ApiGatewayRestApiRootResource-${self:provider.stage}
      AuthFunc:
        Value:
          Fn::GetAtt: [ "AuthFuncLambdaFunction", "Arn" ]
        Export:
          Name: ${self:service}:AuthFunc-${self:provider.stage}

